/* CSS Document */


/*分页*/
.page_box
{
	text-align:center;
}
.page_box li
{
	display:inline;
	padding:3px  7px;
	border-radius:3px;
	border:1px solid #ccc;
	font-size:12px;
	color:#666;
	cursor:pointer;
}
.page_box li:hover
{
	background-color:#F30;
	color:#FFF;
	border:1px solid #F30;
}
.page_box .page_now
{
	background-color:#F60;
	color:#FFF;
	border:1px solid #F60;
}