/* CSS Document */
        body {
			background: rgba(255,255,255,0);
			padding:5px;
			-webkit-user-select: none;
			font-family:"微软雅黑";
			font-size:12px;
        }
		.window_title a
		{
			color:#fff;
			padding:2px 10px;
			cursor:pointer;
		}
		.window_title a:hover
		{
			background-color:#999;
		}
		.win_title_button
		{
			display:inline;
		}
		.windows_box
		{
			background-color:#f9f9f9;
			box-shadow:0px 0px 8px #666666;
		}
		/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
	height:8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:#CDCDCD;
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(255,255,255,0.4); 
}
.top_box
{
	background-color:#727070;
	display:-webkit-box;
}
		.top
		{
			background-color:#727070;
			-webkit-box-flex:1;
		}
		.header
		{
			-webkit-user-select: none;
          /*  -webkit-app-region: drag;    */
            width:100%;
			height:30px;
			line-height:30px;
			color:#FFF;
			text-indent:10px;
		}
		.header i
		{
			width:30px;
			height:30px;
			background-repeat:no-repeat;
			margin:0px;
		}
		.check_window
		{
			width:30px;
			height:30px;
			background-repeat:no-repeat;
			display:inline-block;
			margin:0px;
			padding:0px;
			margin-left:-2px;
			background-color:#727070;
			-webkit-user-select: none;
		}
		.check_window:hover
		{
			background-color:#898989;
		}
		.off_window
		{
			background-image:url(../img/panel_tools.png);
			background-position:9px 9px;
			
		}
		.min_window
		{
			background-image:url(../img/zxh.png);
			background-position:9px 19px;
			
		}
		.sx_window
		{
			background-image:url(../img/shuaxin.png);
			background-position:7px 7px;
		}
		.win_check_box
		{
			width:97px;
			height:30px;
			text-align:right;
		}
		.cention
		{
			width:100%;
			height:570px;
			overflow-x:hidden ;
			overflow-y:hidden ;
			background-color:#5e5e5e;
			padding-bottom:2px;

		}
		.cention_src
		{
			width:100%;
			height:100%;
			border:0px;
		}
		.loading
		{
			width:120px;
			height:30px;
			line-height:30px;
			color:#FFF;
			background-color:#F60;
			border-radius:3px;
			text-align:center;
			margin:0 auto;
			position:fixed;
			left:50%;
			top:50%;
			margin-top:-15px;
			margin-left:-60px;
			background-image:url(../img/043.gif);
			background-repeat:no-repeat;
			background-position:15px 7px;
			display:none;
		}
		.window_ico
		{
			display:inline-block;
			width:22px;
			height:20px;
			position:relative;
			float:left;
			top:5px;
			left:10px;
			background-image:url(../images/logo/logo_ico.png);
			background-size:70%;
		}
		
