<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  ng-app="myApp">
<head lang="en">
    <meta name="renderer" content="webkit">
    <link rel="shortcut icon" href="/common/image/favicon.ico" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Title</title>
    <!-font-awesome字体图标框架->
    <link rel="stylesheet" type="text/css" href="../../assets/font-awesome/css/font-awesome.min.css"/>
    <!-bootstrap3.0框架->
    <link rel="stylesheet" type="text/css" href="../../assets/bootstrap/css/bootstrap.min.css"/>
    <!-angular框架->
    <script type="text/javascript"  src="../../assets/angularJS/angular.min.js"></script>
    <script type="text/javascript"  src="../../assets/angularJS/angular-route.js"></script>
    <script type="text/javascript"  src="../../assets/angularJS/angular-animate.min.js"></script>
    <!-Dui样式->
    <link rel="stylesheet" type="text/css" href="../../common/css/diudianUI.css"/>
    <style>
        ::-webkit-scrollbar {
            width: 0px;
            height:0px;
        }
    </style>
</head>

<body ng-controller="personCtrl">
<div class="dui_win_body">
    <div class="dui_header">
        <h4>丢点UI</h4>
    </div>

    <div class="dui_contion">
        <ul>
            <li ng-repeat="listVed in listVeds">
                <div class="row">
                    <div class="col-xs-3">{{listVed.firstName}}</div>
                    <div class="col-xs-3">{{listVed.lastName}}</div>
                    <div class="col-xs-3"><setdo  ng-click="test()" id="{{listVed.id}}">{{listVed.button}}</setdo></div>
                </div>
            </li>
        </ul>
    </div>
</div>

<script>

    var app = angular.module('myApp', ['ngAnimate']);
    app.controller('personCtrl', function($scope) {
        $scope.listVeds= [
            {id:"10",firstName:"Brett1",lastName:"McLaughlin",button:"删除"},
            {id:"21",firstName:"Brett2",lastName:"McLaughlin2",button:"删除"},
            {id:"30",firstName:"Brett2",lastName:"McLaughlin3",button:"删除"},
            {id:"44",firstName:"Brett2",lastName:"McLaughlin4",button:"删除"},
            {id:"59",firstName:"Brett2",lastName:"McLaughlin5",button:"删除"}
        ];
     //   alert($scope.listVeds[0].firstName);
        })

    app.directive("setdo",function(){
        return{
            restrict: 'E',
            template: '<span><span ng-transclude></span></span>',
            transclude:true,
            link:function(scope,element,attrs){
                scope.listId=attrs.id;
                scope.test=function(){
                    alert("删除id"+scope.listId);
                    for(i=0;i<=scope.listVeds.length;i++)
                    {
                        if(scope.listVeds[i].id==scope.listId)
                        {
                            scope.listVeds.splice(i, 1);
                        }
                    }
                }
            }
        }
    })


</script>
</body>
</html>